<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/jpg" href="/assets/favicon-D9vlFTYf.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/15adf0e9df.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <title>Vite + React</title>
  <script type="module" crossorigin src="/assets/index-CqwXUqIp.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-BBTuXdeJ.css">
</head>

<body class="dark:bg-gray-800">
  <div id="root"></div>
</body>

</html>